<form class="form-horizontal container" method="post" enctype="multipart/form-data">
    <div class="accordion" id="wizPostcard">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne">
                        Select Image for Postcard
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#wizPostcard">
                <div class="card-body">
                    <div class="form-group row" ng-hide="showWebcam">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" ng-click="addImage()">Default Image</button>
                            <button type="button" class="btn btn-primary" ng-model="files"
                                ngf-select="uploadImage($files)" ngf-multiple="false" ngf-max-size="10MB">Upload
                                Image</button>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-success" ng-click="openWebcam()">Open Webcam</button>
                        </div>
                    </div>
                    <div class="form-group row" ng-hide="showWebcam">
                        <div class="col-sm-12">
                            <div class="dropbox-container" ngf-drag-over-class="'dropbox-dragover'" ng-model="files"
                                ngf-drop="uploadImage($files)" ngf-multiple="false" ngf-allow-dir="false">
                                Please Drag & Drop Only One Image File.
                            </div>
                            <div ngf-no-file-drop>File Drag & Drop is not supported for this browser</div>
                        </div>
                    </div>
                    <div class="form-group row" ng-show="showWebcam">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-primary" ng-click="takeSnapshot()">Take Snapshot</button>
                            <button type="button" class="btn btn-secondary" ng-click="closeWebcam()">Cancel</button>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="showWebcam">
                        <div class="col-sm-12">
                            <webcam channel="webcamChannel" on-error="webcamErrorCallback(err)"></webcam>
                            <canvas ng-hide="true" id="snapshot" width="800" height="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo">
                        Add Message in Postcard Image
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#wizPostcard">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div>
                                <p>
                                    <textarea class="form-control" rows="6" ng-model="imageText"></textarea>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info" ng-click="addText()">Add Text</button>
                                <button type="button" class="btn btn-danger" ng-click="clearText()">Clear Text</button>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="fabric-container">
                                <canvas id="postcardCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-sm btn-primary collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree">
                        Sent Postcard to ...
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#wizPostcard">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="sentEmailTo" class="col-sm-3 col-form-label text-right">To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="sentEmailTo" ng-model="sentEmailTo"
                                placeholder="johndoe@lol.com" ng-required="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subject" class="col-sm-3 col-form-label text-right">Subject</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="subject" ng-model="subject"
                                ng-required="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="body" class="col-sm-3 col-form-label text-right">Body</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="body" ng-model="body"
                                ng-required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-6">
                            <button type="submit" class="btn btn-success" ng-click="sendEmail()">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>