body {
    padding: 10px;
}

.fabric-container {
    background: white;
    border-radius: 1px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, .4);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 0;
}

.pull-right {
    float: right !important;
}

.dropbox-container {
    background: #F8F8F8;
    border: 5px dashed #6c757d;
    width: 98%;
    height: 200px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dropbox-dragover {
    border: 5px dashed #17a2b8;
}
